body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  border-radius: 0;
  background: #ffffffe0;
  padding: 15px 0px 25px;
}

.Logo {
  width: 210px;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 10px;
}

header {
  background: url(../img/Fond-ecran.png);
  padding: 25px 35px 10px;
  background-size: cover;
  border-top: solid 8px #7db96f;
}

.selection-light p {
  padding-bottom: 5px;
}

.slogan {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  color: #7db96f;
  font-size: 18px;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0px;
  padding: 10px 0px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

.cta {
  background-color: #7db96f;
  color: #ffffff;
  border-radius: 13px;
  padding: 10px 20px 10px 20px;
  margin: 15px 0px;
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

.cta-light {
  background-color: #ffffff;
  color: #7db96f;
  padding: 10px 20px;
}

.section-light {
  background: #ffffff;
  text-align: center;
  padding: 65px;
}

.section-light {
  font-family: 'Quattrocento', serif;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 27px;
}

.section-dark h2 {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.fruit img {
  margin: auto;
  width: 27px;
  padding-top: 35px;
  padding-bottom: 30px;
}

.fruit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.section-dark {
  background-color: #7db96f;
  padding: 30px;
}

.section-dark h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  margin: 2px;
}

a {
  font-family: 'Maven Pro', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.section-dark p {
  font-family: 'Quattrocento', serif;
  color: #00000069;
}

p {
  margin: 2px;
}

.button {
  border-radius: 25px;
  background: #e6f3ff;
  padding: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
  box-shadow: 0px 0px 10px 0px;
}

.card {
  width: 30%;
  margin: 10px 0;
  padding-left: 180px;
  padding-bottom: 2px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.button-yellow {
  background: #fcf7d6;
  padding: 28px;
}

.button-green {
  background: #d0f1ae;
}

.button-brown {
  background: #cdc4b0;
}

.button-pink {
  background: #e2a2b1;
}

footer .section-light {
  padding: 10px;
}

footer {
  background: #ffffff;
  color: #7db96f;
  text-align: center;
  font-size: 12px;
}

footer h2 {
  font-size: 24px;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  margin: 50px;
  margin-bottom: 5px;
  font-size: 14px;
}